<form>

  <div>
    <label for="thing-name">Name of thing:</label>
    <input type="text" name="thing-name" id="thing-name">
  </div>

  <div>
    <label for="thing-type">Type of thing:</label>
    <input type="text" name="thing-type" id="thing-type">
  </div>
  <div>
    <label for="img-url">Image URL:</label>
    <input type="text" name="img-url" id="img-url">
  </div>

  <div>
    <label for="is-edible">Is it edible?</label>
    <input type="checkbox" name="is-edible" id="is-edible">
    <label for="is-sitonable">Is it sitonable?</label>
    <input type="checkbox" name="is-sitonable" id="is-sitonable">
  </div>

  <div>
    <label for="thing-rating">Rate the thing (out of 16):</label>
    <input type="text" name="thing-rating" id="thing-rating">
  </div>

</form>